{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	<div class="row divider green">
		<div class="col-md-12"></div>
	</div>
	<div class="row banner recipe">
		<div class="col-md-11 col-md-offset-1 padding-none">
			<h1>Edit Recipe Item</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-md-offset-1 padding-top">
			<form action="#" method = "post">
				<div class="form-group">
					<label for="name">Name:</label>
					<input type ="text" maxlength="100" class="form-control" name="name" value="{{item.name }}">

					<label for="method">Method:</label>
					<textarea class="form-control" maxlength="250" rows="3" name="method">{{item.method}}</textarea>

					<label for="time_needed">Time_needed:</label>
					<div class="input-group">
						<div class="input-group-addon">mins</div>
						<input type ="text" maxlength="10" class="form-control" name="time_needed" value="{{item.time_needed}}">
					</div>
					<label for="meal">Meal:</label>
					<div class="radio">
					  <label>
					    <input type="radio" name="meal" id="meal1" value="Lunch" {% if item.meal == 'Lunch'%}checked{%endif%}>Lunch
					  </label>
					</div>
					<div class="radio">
					  <label>
					    <input type="radio" name="meal" id="meal2" value="Dinner" {% if item.meal == 'Dinner' %}checked{%endif%}>Dinner
					  </label>
					</div>
					<div class="radio">
					  <label>
					    <input type="radio" name="meal" id="meal3" value="Breakfast" {% if item.meal == 'Breakfast'%}checked{%endif%}>Breakfast
					  </label>
					</div>
					<div class="radio">
					  <label>
					    <input type="radio" name="meal" id="meal4" value="Beverage" {%if item.meal =='Beverage'%}checked{%endif%}>Beverage
					  </label>
					</div>
					<button type="submit" class="btn btn-default" id="submit" type="submit">
					<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Save</button>
					<a href = '{{url_for('showIngredients')}}' class="btn btn-default delete">
						<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancel
					</a>
				</div>
			</form>
		</div>
	</div>
{% endblock %}
